/* #list.green {
    background-color: green;
}

#contacts {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;


}

#contacts h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

#contacts p {
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
} */